<div class="login-container">
  <div class="login-card">
    <h2>{{ esRegistro() ? 'Crear Cuenta' : 'Iniciar Sesión' }}</h2>

    <div class="form-group">
      <label>Correo Electrónico</label>
      <input
        type="email"
        [ngModel]="nombreUsuario()"
        (input)="nombreUsuario.set($any($event.target).value)"
        placeholder="ejemplo@correo.com"
        class="login-input"
      />
    </div>

    <div class="form-group">
      <label>Contraseña</label>
      <input
        type="password"
        [ngModel]="passwordUsuario()"
        (input)="passwordUsuario.set($any($event.target).value)"
        placeholder="Mínimo 6 caracteres"
        class="login-input"
      />
    </div>

    <button
      (click)="accionPrincipal()"
      class="btn-primary"
      [disabled]="nombreUsuario().trim().length === 0 || passwordUsuario().trim().length < 6"
    >
      {{ esRegistro() ? 'Registrarse Ahora' : 'Entrar' }}
    </button>

    <p (click)="esRegistro.set(!esRegistro())" class="toggle-link">
      {{
        esRegistro()
          ? '¿Ya tienes cuenta? Inicia sesión aquí'
          : '¿No tienes cuenta? Regístrate gratis'
      }}
    </p>
  </div>
</div>
